<ion-header>
  <ion-toolbar>
    <ion-title>lista de publicacion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-col *ngFor="let image of images">
  <!-- Reemplaza 'imageUrl' con el nombre del campo que contiene la URL de la imagen en el documento -->
  <img src="{{ image.imageUrl }}" alt="Imagen desde Firestore" />
</ion-col>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
