
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center header-title">
      Perfil de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content ion-text-center" id="profile">
    <div class="avatar-container">
      <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
    </div>
    <div class="text-center">
      <h2 class="user-name">Nombre de Usuario</h2>
    </div>
    <ion-button (click)="cerrar()" shape="round" class="logout-button" color="primary">
      Cerrar sesión
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

